@font-face {
    font-family: chullz;
    src: url(./fonts/Enoway-Personal\ Use.otf);
}
@font-face {
    font-family: about;
    src: url(./fonts/Utendo-Black.ttf);
}
@font-face {
    font-family: detail;
    src: url(./fonts/Utendo-Light.ttf);
}
@font-face {
    font-family: links;
    src: url(./fonts/Utendo-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: about;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #141414d3;
    scroll-behavior: smooth;
}


/* --------------------------Nav section----------------------------- */

#nav {
    position: fixed;
    width: 50%;
    height:20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    /* flex-wrap: wrap; */
    position: relative;
    left: 50%;
    bottom: 5%;
    
}
#profile-pic{
    filter: brightness(150%);
    width: 25%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px white;
    position: absolute;
    right: 140%;
    top: 20%;
    box-shadow: rgb(255, 145, 0) 0px -5px 0px;
}
#nav a{
    background-color:rgba(250, 235, 215, 0.021);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: antiquewhite;
    margin-top: 15px;
    margin-right: 30px;
    position: relative;
    right: 5%;
    font-size: 1.2vw;
    font-family: links;
    /* border: 2px solid rgb(194, 193, 193); */
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
    z-index: 10;
    letter-spacing: 1px;
}

#nav a:hover{
    background-color:antiquewhite;
    color:#141414;
    scale: 1.050;
    text-shadow: antiquewhite 0px 20px 50px;
}




/* Explore btn on homepage */

#explore-Btn{
    top: 0%;
    left: 0%;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color:#3f3f3f;
    color:antiquewhite;
    transition: all 0.3s ease;
    z-index: 10;
    letter-spacing: 2px;
    font-weight: bold;
}
#explore-Btn:hover{
    
    background-color: antiquewhite;
    color:#141414;
    scale: 1.050;
    text-shadow: antiquewhite 0px 5px 50px;
    font-weight: bolder;
}


/* --------------------------------------Main Section---------------------------------- */

#main{
    padding: 0px 80px;

    background-color: #141414; 
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    flex-direction: column;
    
}







/* Social BTNs  */
#socails-btn{
    width: 50px;
    height: 200px;
    display: flex;
    position: relative;
    top: 30%;
    left: 40%;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
#socails-btn i{
    position: sticky;
    top: 0;
    font-size: 3vh;
    color: antiquewhite;
    background-color:rgba(250, 235, 215, 0.034);
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 50%;
    z-index: 10;
}
#socails-btn i:hover{
    background-color:antiquewhite;
    border-radius: 50%;
    color:#141414;
    scale: 1.050;
    text-shadow: antiquewhite 0px 0px 70px;
    z-index: 10;

}






/* Main text on homepage  */

#main h1{
    font-size: 10vh;
    cursor: default;
    position: relative;
    bottom: 10%;
    z-index: 10;
}
#main span{
    color: rgb(255, 145, 0);
    text-shadow: antiquewhite 0px 5px 2px;
    letter-spacing: 5px;
    z-index: 10;
}
#main h3{
    color: #141414;
    font-size: 3vh;
    padding: 0px 10px;
    margin: 30px;
    background-color: rgb(255, 145, 0);
    text-shadow: antiquewhite 0px 5px 10px;
    cursor: default;
    position: relative;
    bottom: 14%;
    z-index: 10;
}
#main p{
    font-size: 3vh;
    font-family: detail;
    position: relative;
    bottom: 22%;
    cursor: default;
    letter-spacing: 1px;
    z-index: 10;
}







/* -------------------------------About me Section ----------------------------*/
#about-me{
    height: 120vh;
    width: 100%;
    background-color:#1B1B1B;
    padding: 80px 100px;
    display: flex;
    justify-content: center;

}
.container{
    min-height: 100vh;
    /* padding-left: 100px; */
    min-width: 100%;
    /* background-color:#be0e0e; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    z-index: 10;
    /* flex-wrap: wrap; */
    position: relative;

}
#con-left{
    position:relative;
    min-height: 120vh;
    width: 50%;
    /* background-color:#0e4cbe; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    

}
#con-left img{
    min-width: 50%;
    border-radius: 150px;

}
#con-Right{
    position: relative;
    right: 0;
    height: 120vh;
    width: 50%;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    color: antiquewhite;
    /* background-color:#be0ea1; */
}
.sub-title{
    font-size: 6vh;
    font-family: about;
    /* flex-wrap: wrap; */
    cursor: default;
}
#aboutme-detail{
    color: antiquewhite;
    font-family: detail;
    letter-spacing: 2px;
    flex-wrap: wrap;
    cursor: default;
 
}
#aboutme-detail span{
    color: #FF9100;
    font-family: detail;
    letter-spacing: 2px;
    flex-wrap: wrap;
    cursor: default;
 
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: antiquewhite;
    flex-wrap: wrap;

}
.tab-links{
    margin-right: 50px;
    font-family: about;
    font-size: 18px;
    font-family: links;
    cursor: pointer;
    color: antiquewhite;
    letter-spacing: 5px;
    position: relative;
    transition: all 0.3s ease;
}
.tab-links:hover{
    color:#FF9100;
    scale: 1.050;
    text-shadow: antiquewhite 0px 0px 100px;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(255, 145, 0);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}


/* Tab information section  */


.tab-contents {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    display: none;
    cursor: default;
}
.tab-contents.active-Tab{
    display: block;
}

.tab-contents ul li{
   list-style: none;
   margin: 10px 0;
   font-family: detail;
   letter-spacing: 2px;

}
.tab-contents ul li span{
    color: antiquewhite;
    font-size: 2vw;
    font-family: about;
    color: rgb(255, 145, 0);;
}





/* -------------------------------Project Section -----------------------*/

#Projects-skills{
    height: 120vh;
    width: 100%;
    /* padding: 50px 50px; */
    background-color:#141414;
    color: antiquewhite;
        /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    /* position: relative;
    display: flex;
    flex-direction: column; */
}



#project-Left{
    padding-left: 100px;
    position: relative;
    right: 0;
    height: 120vh;
    width: 45%;
    /* margin-left: 50px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    color: antiquewhite;
    /* background-color:#be0ea1; */
}
#project-Left .sub-title{
    font-size: 6vh;
    font-family: about;
    /* flex-wrap: wrap; */
    cursor: default;
}
#project-Left #aboutme-detail{
    color: antiquewhite;
    font-family: detail;
    letter-spacing: 2px;
    flex-wrap: wrap;
    cursor: default;
}
#aboutme-detail span{
    color: #FF9100;
    font-family: detail;
    letter-spacing: 2px;
    flex-wrap: wrap;
    cursor: default;
}
#aboutme-detail a{
    font-family: links;
    font-weight: bold;
    color: #FF9100;
    font-family: detail;
    letter-spacing: 10px;
    flex-wrap: wrap;
    cursor: pointer;
    transition: all 0.3s ease;
}
#aboutme-detail a:hover{
    /* background-color:antiquewhite; */
    color:antiquewhite;
    scale: 1.050;
    text-shadow: antiquewhite 0px 0px 100px;
}


/*----------------------------------- Skill icons Section------------------------------------- */
.project-list{
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-top: 10px;
    
}
#transparent-logo{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    /* bottom: 50%; */
}
#project-Left {
    /* background: #726b6b; */
    height: 120vh;
    width: 100%;
}
#project-Left h1{
    position: relative;
    font-size: 6vh;
    font-family: about;
    margin-top: 40px;
    /* flex-wrap: wrap; */
    cursor: default;
}
#project-Left h3{
    font-family: links;
    cursor: default;
    color: #FF9100;
}
#skill-icons{
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction:row;
    gap: 12px;
    align-items: center;
    z-index: 10;
}
#skill-icons img{
    width: 80%;
    border-radius: 50%;
    object-fit: cover;
}





/* ---------------------------------------projects Section---------------------------------- */
#Projects{
    min-height: 100vh;
    width: 100%;
    background-color:#1B1B1B;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}
#project-text{
    height: 10vh;
    width: 50%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#project-text h1{
    position: absolute;
    font-size: 6vh;
    /* margin-top: 30px; */
    font-family: about;
    /* flex-wrap: wrap; */
    cursor: default;
    color: antiquewhite;
}
#project-text h3{
    position: absolute;
    font-size: 2vh;
    margin-top: 100px;
    font-family: about;
    letter-spacing: 5px;
    /* flex-wrap: wrap; */
    cursor: default;
    color: antiquewhite;
}

#project-con{
    min-height: 50vh;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    /* background: #db1d1d; */
}

#project-con img{
height: 300px;
   width: 300px;
   position: relative;
   object-fit: cover;
   border-radius: 30px;
   filter: brightness(80%);
   transition: all 0.3s ease;

}

#project-con img:hover{
    scale: 1.030;
   filter: brightness(100%);
   transform: skewY(2deg);


}
#project-con a{
    height: 300px;
    width: 300px;
}

/*----------------------------------- Contact me Section------------------------------------- */




#contect-Me{
    min-height: 100vh;
    width: 100%;
    background: #141414;
}

