@font-face {
    font-family: chullz;
    src: url(./fonts/TropicalAvenuePersonalUseOn-XG4dd.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: chullz;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #212121;
}
nav {
    background-image: url(./images/8e7cbcd6161fff3de4bff34a19a2d1f8.jpg);
    background-size: 800px;
    object-fit: cover;
    /* background-color: rgb(19, 68, 68); */
    width: 100%;
    height:15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    box-shadow: #212121 0px 5px 20px;
}
#profile-pic{
    background-color: #fff;
    position: absolute;
    right: 70%;
    top: 10%;
    box-shadow: #212121 0px 5px 20px;
}
nav a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: rgb(42, 161, 165);
    margin-top: 15px;
    margin-right: 50px;
    position: relative;
    right: 5%;
    font-size: 1.2vw;
    /* border: 2px solid rgb(194, 193, 193); */
    padding: 10px 20px;
    border-radius: 50px;
    transition: all ease 0.3s;
}
nav a:hover{
    background-color:rgb(42, 161, 165);
    color: aliceblue;
    scale: 1.050;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#main{
    /* background-image: url(./images/8e7cbcd6161fff3de4bff34a19a2d1f8.jpg);
    background-size: 3500px; */
    background-color: #141414;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img{
    width: 200px;
    height: 200px;
    position: relative;  
}